{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Usuarios - Crear</title>
{% endblock %}


{% block B1 %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">INICIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'posteos' %}">Posteos</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'crearPosteos' %}">Crear posteo</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Buscar Posteo</a></li>
            </ul>
        </div>
    </div>

</nav>
{% endblock %}



{% block B2 %}
<section class="bg-light py-5">
    <div class="container px-5">
        <h2>Formulario Posteo:</h2>
        <br>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                    Ingresar Formulario
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <table class="table table-theme">
                                
                                <tr> 
                                    <td>titulo:</td>  
                                    <td><input type="text" name="titulo"></td> 
                                </tr>
            
                                <tr> 
                                    <td> Cuerpo </td> 
                                    <td><input type= "text" name="cuerpo"></td> 
                                </tr>
                        
                               
                            </table>
                            <div class="card-body text-center">
                                <input type="submit" class="btn btn-primary" value="Publicar" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}